# IDE
.classpath
.project
.settings/
.idea/
*.iml
*.iws

# OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

.tox
.python-version

*.pyc
*.egg-info
MANIFEST
.coverage
.coverage*
coverage.xml
nosetests.xml
pylint.out
*/dist/
dist
images
*/build/
_version.py
*/*.egg-info/
htmlcov/
reports/
docs/build
__pycache__/
\.pytest_cache/
env/
.venv/
version.py
