version: 2.1

defaults: &defaults
  working_directory: ~/lib
  docker:
    - image: cimg/python:3.9

executors:
  py36:
    docker:
      - image: cimg/python:3.6
  py37:
    docker:
      - image: cimg/python:3.7
  py38:
    docker:
      - image: cimg/python:3.8
  py39:
    docker:
      - image: cimg/python:3.9
  py310:
    docker:
      - image: cimg/python:3.10

commands:
  install_deps:
    steps:
      - run:
          name: Install dev dependencies
          command: |
            python3 -m venv ~/venv
            . ~/venv/bin/activate
      - run:
          name: Install Python packages
          command: make install

jobs:
  lint:
    <<: *defaults
    steps:
      - checkout
      - install_deps
      - run: make lint
  test:
    parameters:
      version:
        type: executor
    executor: <<parameters.version>>
    steps:
      - checkout
      - run: pip install tox
      - run:
          name: Run tests via tox
          command: |
            TARGET_ENV="<<parameters.version>>"
            echo $TARGET_ENV
            make tox TOX_ENV="$(TARGET_ENV)"
      - store_test_results:
          path: reports
  release:
    <<: *defaults
    steps:
      - checkout
      - install_deps
      - run:
          name: Create release
          command: |
            pip install -q build
            make release

workflows:
  test-release:
    jobs:
      - lint:
          filters:
            tags:
              only: /.*/
      - test:
          matrix:
            parameters:
              version: [py36, py37, py38, py39, py310]
          filters:
            tags:
              only: /.*/
      - release:
          requires:
            - lint
            - test
          filters:
            tags:
              only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
            branches:
              ignore: /.*/
