version: 2.1

defaults: &defaults
  working_directory: ~/lib
  docker:
    - image: circleci/python:3.10

commands:
  install_deps:
    steps:
      - run:
          name: Install dev dependencies
          command: |
            python3 -m venv ~/venv
            . ~/venv/bin/activate
      - run:
          name: Install Python packages
          command: make install

jobs:
  lint:
    <<: *defaults
    steps:
      - checkout
      - install_deps
      - run: make lint
  test:
    <<: *defaults
    steps:
      - checkout
      - install_deps
      - run: make test

workflows:
  test-release:
    jobs:
      - lint
      - test
#      - release:
#          requires:
#            - lint
#            - unit
